.container {
  padding: 30px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  width: 100%;
  border-spacing: 20px;
}

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.totalTextTitle {
  margin-right: 10px;
}

.add {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
