.container {
  height: 90vh;
  background-image: url("../public//images/cover.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover {
  width: 10%;
}
