.container {
    z-index: 2;
    height: 2vh;
    padding: 2rem;
    background-color:  var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.item{
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 3;
}

.item:nth-child(3){
    justify-content: flex-end;
}

.callButton{
    background-color: white;
    border-radius: 50px;
    padding: 0.1rem;
}

.phone {
    color:  var(--main-bg-color);
}

.texts{
    margin-left: 0.5rem;
    color: white;
}

.text:first-child{
    font-weight: 400;
    font-size: 0.8rem;
}

.text:last-child{
    font-weight: 700;
    font-size: 1rem;
}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItems {
    margin: 1.5rem;
}

.listItemsLogo {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.5rem;
}

.cart{
    color: white;
}